
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

@foreach(var name in ViewBag.nameList)
            {
                <ul><li typeof="bullet">@name</li></ul>
            }

<h2>Index</h2>
<h4>@ViewBag.msg</h4>

